<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Fight!</title>
</head>

<body>
    <header>
        <h1>Fighting Ring</h1>
    </header>
    <main>
        <section>
            <p id="playerOne"></p>
            <p id="hpOne">HP:</p>
        </section>
        <section>
            <p id="playerTwo"></p>
            <p id="hpTwo">HP: </p>
        </section>
        <section>
            <%- include('../partials/attackButtons') %>
        </section>
    </main>
    <script src=" /socket.io/socket.io.js">
    </script>
    <script type="module" src="/scripts/script.js"></script>
</body>

</html>