<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Fight!</title>
</head>

<body>
    <header>
        <h1>Fighting Ring</h1>
    </header>
    <main>
        <section id="battle">
            <h1>Battle <span id="battleId"></span></h1>
            <section>
                <p id="playerOne"></p>
                <p>HP: <span id="hpOne"></span></p>
            </section>
            <section>
                <p id="playerTwo"></p>
                <p>HP: <span id="hpTwo"></span></p>
            </section>
            <section>
                <%- include('../partials/attackButtons') %>
            </section>
        </section>
    </main>
    <script src=" /socket.io/socket.io.js">
    </script>
    <script type="module" src="/scripts/script.js"></script>
</body>

</html>