<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Fight!</title>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section id="battle">
            <h1>Battle <span id="battleId"></span></h1>
            <p><span id="hasTurn"></span> heeft de beurt</p>
            <section>
                <div>
                    <p id="playerOne"></p>
                    <p>HP: <span id="hpOne"></span></p>
                </div>
                <div>
                    <p id="playerTwo"></p>
                    <p>HP: <span id="hpTwo"></span></p>
                </div>
            </section>
            <section id="attacks">
                <p>></p>
                <button id="attackButton">
                    <%= moves[0].name %>
                </button>
            </section>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src=" /socket.io/socket.io.js">
    </script>
    <script type="module" src="/scripts/script.js"></script>
</body>

</html>