<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fight!</title>
</head>

<body>
    <header>
        <h1>Fighting Ring</h1>
    </header>
    <main>
        <section>
            <h1>NAME 1</h1>
            <h1>HP: 100</h1>
        </section>
        <section>
            <h1>NAME 2</h1>
            <h1>HP: 100</h1>
        </section>
        <section>
            <button id="moveOne">MOVE 1</button>
            <button id="moveTwo">MOVE 2</button>
            <button id="moveThree">MOVE 3</button>
            <button id="moveFour">MOVE 4</button>
        </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/scripts/script.js"></script>
</body>

</html>